<!DOCTYPE html>
<html>
<header>
    <script src="https://unpkg.com/vue@2"></script>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/todomvc-app-css@2.2.0/index.css" />
</header>

<body>
    <section class="todoapp" id='app'>
        <header class="header">
            <h1>Practice Todo</h1>
            <input class="new-todo" autocomplete="off" placeholder="輸入Todo" v-model="new_todo"
                @keyup.enter="addTodo(new_todo)" />
        </header>
        <section class="main">
            <input id="toggle-all" class="toggle-all" type="checkbox" v-model="all_done"
                @click="allDoneTodo(all_done)" />
            <label for="toggle-all"></label>
            <ul class="todo-list">
                <li v-for="todo in filterTodo" class="todo"
                    :class="{'completed': todo.completed, editing: is_edit_id_same==todo.id}">
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="todo.completed"
                            :class="{'completed': todo.completed}" />
                        <label @dblclick="editTodo(todo)">{{ todo.title }}</label>
                        <button class="destroy" @click="deleteTodo(todo)"></button>
                    </div>
                    <input class="edit" type="text" v-model="todo.title" v-todo-focus="is_edit_id_same==todo.id"
                        @keyup.enter="doneEditTodo(todo)" @keyup.esc="cancelEditTodo(todo)"
                        @blur="doneEditTodo(todo)" />
                </li>
            </ul>
        </section>

        <footer class="footer" v-show="todos.length">
            <span class="todo-count">
                <strong>{{remaining}}</strong> 筆任務未完成
            </span>
            <ul class="filters">
                <li>
                    <a href="#/all" :class="{ selected: classify == 'all' }">All</a>
                </li>
                <li>
                    <a href="#/active" :class="{ selected: classify == 'active' }">Active</a>
                </li>
                <li>
                    <a href="#/completed" :class="{ selected: classify == 'completed' }">Completed</a>
                </li>
            </ul>

            <button class="clear-completed" @click="clearCompleteTodo">
                Clear completed
            </button>
        </footer>
    </section>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                todos: [],
                new_todo: '',
                classify: 'all',
                all_done: true, //checkbox預設
                is_edit_id_same: ''
            },
            methods: {
                addTodo: function (todo) {
                    var value = todo.trim();
                    if (!value) {
                        return;
                    }
                    var timeStamp = Math.floor(Date.now());

                    this.todos.push({
                        id: timeStamp,
                        title: todo,
                        completed: false
                    });
                    // 清除input值
                    this.new_todo = "";
                },
                deleteTodo: function (todo) {

                    this.todos.splice(this.todos.indexOf(todo), 1)
                },
                allDoneTodo: function (value) {
                    this.todos.forEach(function (todo) {
                        todo.completed = value;
                    });
                },
                clearCompleteTodo: function () {
                    // 不能用 forEach 來 splice 資料
                    this.todos = this.todos.filter(todo => {

                        return todo.completed != true
                    })
                },
                editTodo: function (todo) {
                    this.is_edit_id_same = todo.id; //id相同則打開編輯功能
                },
                cancelEditTodo: function (todo) {
                    this.is_edit_id_same = "";
                },
                doneEditTodo: function (todo) {
                    todo.title = todo.title.trim();
                    if (!todo.title) {
                        this.deleteTodo(todo);
                    }

                    this.is_edit_id_same = "";
                },
            },
            computed: {
                filterTodo: function () {
                    if (this.classify == 'all') {

                        return this.todos;

                    } else if (this.classify == 'active') {
                        var active_todo = [];
                        this.todos.forEach(function (item) {
                            if (item.completed == false) {
                                active_todo.push(item);
                            }
                        })

                        return active_todo;

                    } else if (this.classify == 'completed') {
                        var completed_todo = [];
                        this.todos.forEach(function (item) {
                            if (item.completed == true) {
                                completed_todo.push(item);
                            }
                        });

                        return completed_todo;
                    }
                },
                remaining: function () {
                    var remain = this.todos.filter(todo => {
                        return todo.completed != true
                    })

                    return remain.length
                }

            },

            directives: {
                "todo-focus": function (el, binding) {
                    if (binding.value) {
                        el.focus();
                    }
                }
            }

        });

        // 切換頁籤清單
        function onHashChange() {
            var classify = window.location.hash.replace(/#\/?/, "");

            if (classify != "") {
                app.classify = classify;
            } else {
                window.location.hash = "";
                app.classify = "all";
            }
        }

        window.addEventListener("hashchange", onHashChange);
        onHashChange();

        // mount
        app.$mount("#app");

    </script>

</body>

</html>